body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
  }

.starwars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 600px;
    color: #facd1b;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 150px;
    text-align: justify;
}
.crawl {
    position: relative;
    transform-origin: 50% 100%;
    animation: crawl 30s ease-in infinite;
  }
  .start {
    text-align: center;
  }
  @keyframes crawl {
    from {
      top: -100px;
      transform: rotateX(25deg)  translateZ(0);
    }
    
    to { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }