@mixin container($padding-top: 24px, $padding-bottom: 24px, $max-width: 1600px, $width: $container-width) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    max-width: $max-width;
    width: $width;
    margin: 0 auto;
}

@mixin text($font-size, $line-height, $text-color: #4E4E4E, $font-family: 'Roboto') {
    font-size: $font-size;
    line-height: $line-height;
    color: $text-color;
    font-family: $font-family;
}