.wrapper {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
}
.milan {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
.milan_head {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.milan_head--logo {
    display: flex;
    text-decoration: none;
}
.milan_head--logo-text {
    padding-left: 8px;
}
.milan_head--logo-text-head {
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.milan_head--logo-text-desc {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.milan_head--logo:hover .milan_head--logo-img {
    content: url(../img/logo-hover.png);
}
.milan_head--logo:hover  .milan_head--logo-text-head,
.milan_head--logo:hover .milan_head--logo-text-desc
{
    color: #F26522;
}
.milan_head--contacts {
    display: flex;
    flex-flow: column;
}
.milan_head--contacts-mail {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.milan_head--contacts-number {
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 11px;
}
.milan_head--contacts-mail:hover,
.milan_head--contacts-number:hover {
    color: #F26522;
}

.milan_list {
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.milan_list--item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 37px;
    min-width: 300px;
}
.milan_list--item-card {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #000 0%, #fff 100%);
    border-image-slice: 1;
}
.milan_list--item-img {
    width: 100%;
}
.milan_list--item:hover .milan_list--item-detail {
    bottom: 0px;
}
.milan_list--item:hover .milan_list--item-text {
    color: #F26522;
}
.milan_list--item-detail {
    width: 100%;
    height: 55px;
    background: #F26522;
    position: absolute;
    bottom: -55px;
    opacity: 1;
    transition: 1s;
    padding: 7px 14px 12px 16px;
    box-sizing: border-box;
    color: #FFFFFF;
}
.milan_list--item-detail-desc {
    text-align: left;
    font-size: 10px;
    line-height: 10px;
}
.milan_list--item-detail-desc-content {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.milan_list--item-detail-content-coast {
    font-size: 20px;
    line-height: 20px;
}
.milan_list--item-detail-content-info {
    font-size: 14px;
    line-height: 14px;
}
.milan_list--item-detail-content-info::after {
    content: url(../img/arrow.png);
    margin-left: 16px;
}

.milan_list--item-text {
    margin-top: 20px;
}

.milan_foot {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    padding: 50px 0 15px 0;
}


