 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
 .article{
    font-family: 'Roboto', sans-serif;
    width:20%;
    color:white;
    padding:20px;
    margin:20px;
    &__name{
        font-size:20px;
        font-weight:bold;
    }

    &__card{
        width:300px;
    }

    &__price{
        &-icon{
            width:20px;
            height:20px;
        }
    }
}