.page-footer {
    background-color: $secondary-background-color;

    &__container {
        @include container(40px, 48px, 684px, 70%);
    }

    &__title {
        @include text(14px, 22px, #FEFEFE);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    &__text {
        @include text(12px, 20px, #B9B9B9);
        text-align: center;
        margin-top: 8px;
    }

    &__contact-info {
        @include text(14px, 22px, #B9B9B9);
        text-align: center;
        margin-top: 25px;
    }

    &__social-list {
        margin-top: 26px;
    }
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 6px;
}

@media (min-width: $medium-screen-width) {
    .page-footer {
        &__title, &__text, &__contact-info {
            font-size: 16px;
            line-height: 24px;
        }
    
        &__text {
            margin-top: 22px;
        }
    
        &__contact-info, &__social-list {
            margin-top: 36px;
        }
    }
}