.page-section {
    background-color: $main-background-color;

    &__container {
        @include container(24px, 60px);
    }

    &__title {
        @include text(14px, 22px);
        font-weight: bold;
        text-transform: uppercase;

        margin-bottom: 24px;
    }
}

.posts-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
}

.post {
    &__image {
        width: 160px;
        height: 140px;
    }

    &__text-container {
        margin-top: 12px;
    }

    &__title {
        @include text(14px, 30px);
        font-weight: bold;
    }

    &__comments {
        @include text(11px, 20px, #7C7C7C);
    }

    &__main-text, &--wide-screen {
        display: none;
    }
}

@media (min-width: $medium-screen-width) {
    .post {
        display: flex;

        &__text-container {
            margin-top: 0;
            margin-left: 20px;
        }

        &--wide-screen {
            display: flex;
        }

        &__main-text {
            display: block;
            margin-top: 12px;
            @include text(14px, 26px, #5C5C5C);
        }
    }
}

@media (min-width: $large-screen-width) {
    .posts-container {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }
}