@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaDemiC.ttf') format('truetype');
  /* font-weight: bold;
  font-style: italic; */
  }
html {
	overflow: hidden;
}
body {
  height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 50px;
}
.header {
  position: relative;
	width: 100%;
	overflow: hidden;
  height: 596px;
  padding-top: 30px;
}
.header:before {
	content: '';
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
	transform: translateZ(-150px) scale(4);
  background-image: url(../img/head.png);
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position: 0px 0px,center;
  background-size: 100%;
}
.header_navbar {
  height: 113px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 170px;
  margin-bottom: 150px; 
}
.header_navbar--logo {
  margin-top: 40px;
}
.header_navbar--logo-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #424F57;
  text-decoration: none;
}
.header_navbar--logo-link:hover {
  text-decoration: underline;
}
.header_navbar--logo-name {
  font-family: 'Futura';
  font-weight: 900;
  text-transform: uppercase;
  color: #14AFCA;
}
.header_navbar--nav {
  margin-top: 52px;
}
.header_navbar--nav-link {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #424F57;
  margin-right: 40px;
}
.header_navbar--nav-link:last-child {
  margin: 0;
}
.header_navbar--nav-link:hover {
  color: #14AFCA;
}
.header_content {
  font-family: 'Futura';
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-size: 52px;
  line-height: 75px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.what {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.what::after {
  content: "";
  border: 88vh solid transparent;
  border-top: 85px solid #fff;
  position: absolute;
  top: 385px;
}
.what_title {
  font-family: 'Futura';
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  line-height: 40px;
  text-align: center;
  color: #14AFCA;
  text-transform: uppercase;
}
.what_description {
  color: #424F57;
  font-family: sans-serif;
  font-size: 18;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.what_content {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #424F57;
  width: 1000px;
  margin: 0 auto;
}
.companies {
  height: 715px;
  position: relative;
	width: 100%;
	overflow: hidden;
  padding-top: 150px;
}
.companies:before {
	content: '';
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
	transform: translateZ(-150px) scale(4);
  background-image: url(../img/companies.png);
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position: 0px 0px,center;
  background-size: 100%;
}
.companies_title {
  font-family: 'Futura';
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  line-height: 40px;
  text-align: center;
  color: #14AFCA;
  text-transform: uppercase;
}
.companies_description {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.899999px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.companies_logo {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}
.companies_logo--img {
  margin-right: 50px;
  margin-bottom: 150px;
}
.meetus {
  position: relative;
  padding-top: 200px;
  padding-bottom: 100px;
}
.meetus:after {
  content: "";
  border: 88vh solid transparent;
  border-top: 85px solid #fff;
  position: absolute;
  top: 756px;
}
.meetus_title {
  font-family: 'Futura';
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  line-height: 40px;
  text-align: center;
  color: #14AFCA;
  text-transform: uppercase;
}
.meetus_description {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.899999px;
  color: #424F57;
  margin-bottom: 50px;
}
.meetus_cards {
  display: flex;
  justify-content: center;
}
.meetus_cards--card {
  width: 300px;
  text-align: center;
  margin-right: 50px;
}
..meetus_cards--card:last-child {
  margin-right: 0;
}
.meetus_cards--card-photo {
  margin-bottom: 20px;
}
.testimonials {
  position: relative;
	width: 100%;
	overflow: hidden;
  height: 450px;
}
.testimonials:before {
	content: '';
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
	transform: translateZ(-150px) scale(4);
  background-image: url(../img/testimonials.png);
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-position: 0px 0px,center;
  background-size: 100%;
}
.testimonials_title {
  font-family: 'Futura';
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  line-height: 40px;
  text-align: center;
  color: #14AFCA;
  text-transform: uppercase;
  margin-top: 200px;
}
.testimonials_description {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.899999px;
  color: #fff;
}
.testimonials_quote {
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #D3CCCC;
  width: 1000px;
  margin: 0 auto;
}
.why_title {
  margin-top: 100px;
  font-family: 'Futura';
  font-weight: 900;
  font-style: normal;
  font-size: 60px;
  line-height: 40px;
  text-align: center;
  color: #14AFCA;
  text-transform: uppercase;
}
.why_description {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.899999px;
  color: #000;
}
.why_content {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #424F57;
  width: 800px;
  margin: 0 auto;
}
.why_copyright {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.7px;
  color: #3D3C3C;
  width: 350px;
  margin: 0 auto;
  margin-top: 100px;
}