body {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
/* header */
.header {
    width: 100%;
    height: 70px;
    background: #313131;
    display: flex;
    justify-content: space-between;
}
.header_logo {
    position: relative;
}
.header_logo--img {
    width: 27px;
    height: 27px;
    margin-top: 22px;
    margin-left: 29px;
}
.header_logo--text {
    display: inline-block;    
    position: absolute;
    margin: 16px 0 0 27px;
}
.header_logo--text-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}
.header_logo--text-link:hover {
    color: lightblue;
}
.header_nav {
  padding-top: 8px;
    margin-left: 90px;
}
.header_nav--list {
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-top: 14px;
}
.header_nav--item {
    margin-right: 35px;
}
.header_nav--item-link {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header_nav--item-link:hover {
    color: #14B9D5;
}
.header_search {
    width: 68px;
    height: 70px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_search--icon {
    width: 17px;
    height: 17px;
    transition: 0.3s;
}
.header_search--icon:hover {
    transform: scale(1.4);
    cursor: pointer;
}
/* header */
/* latest-news */
.latest-news {
    width: 100%;
    height: 369px;
    background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed;
    background-position-y: -435px;
    background-size: 100%;
    text-align: center;
}
.latest-news--title {
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    padding-top: 163px;
    box-sizing: content-box;
}
.latest-news--buttons {
    margin-top: 45px;
}
.latest-news--buttons-btn {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 16px 19px;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
}
.btn-subscribe:hover {
    background-color: #fff ;
    color: #89CA62;
    cursor: pointer;
}
.btn-articles:hover {
    background-color: #fff;
    color:  #14B9D5;
    cursor: pointer;
}
.btn-subscribe {
    background: #89CA62;
}
.btn-articles {
    background: #14B9D5;
    padding: 16px 30px;
}
/* latest-news */
/* posts */
.posts {
    text-align: center;
    min-height: 1030px;
    background: #F2F2F2;
}
.posts_title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin:0;
    padding: 50px 0 0 0;
    box-sizing: border-box;
}

.posts_cards-list {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 900px;
  margin-top: 52px;
}

.posts_cards-item {
  width: 32%;
  margin-bottom: 20px;
  background-color: #fff;
}
.posts_cards-item:nth-child(1) {
  height: 320px
}
.posts_cards-item:nth-child(2) {
  height: 440px
}
.posts_cards-item:nth-child(3) {
  height: 355px
}
.posts_cards-item:nth-child(4) {
  height: 320px
}
.posts_cards-item:nth-child(5) {
  height: 300px
}
.posts_cards-item:nth-child(6) {
  height: 440px
}

.posts_cards-item:nth-child(3n+1) { order: 1; }
.posts_cards-item:nth-child(3n+2) { order: 2; }
.posts_cards-item:nth-child(3n)   { order: 3; }


.posts_cards-item-img {
  width: 100%;
}
.posts_cards-item--description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
  margin: 14px 0 0 0;
}
/* posts */
/* popular-clients */

.popular-clients {
  min-height: 588px;
  height: 100%;
  background-image: url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
  background-size: 100%;
  text-align: center;
}
.popular-clients--title {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 105px;
  padding-bottom: 87px;
}
.popular-clients--line {
  width: 60px;
  height: 3px;
  background: #18B4CF;
  margin: 0  auto;
}
.popular-clients--list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-column-gap: 58px;
  margin-top: 107px;
}
.popular-clients-item:first-child {
  align-self: center;
}
/* popular-clients */
/* top-rated */
.top-rated {
  text-align: center;
}
.top-rated_title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18B4CF;
  margin: 0;
  padding: 47px 0 52px 0;
}
.top-rated_list {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
  grid-row-gap: 10px;
}
/* top-rated */
/* hot-news */
.hot-news {
  
}
.hot-news_title {
  text-align: center;
  margin: 0;
  padding-top: 48px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18B4CF;
}
.hot-news_list {
  margin-top: 51px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.hot-news_item {
  background: #F9F7F7;
}
.hot-news_item:nth-child(1),
.hot-news_item:nth-child(2),
.hot-news_item:nth-child(7),
.hot-news_item:nth-child(8) {
  min-height: 259px;
  height: 100%;
}
.hot-news_item:nth-child(3),
.hot-news_item:nth-child(4),
.hot-news_item:nth-child(5),
.hot-news_item:nth-child(6) {
  min-height: 416px;
  height: 100%;
}
.hot-news_item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 483px 1fr;
}
.hot-news_item:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.hot-news_item:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: -1;
}
.hot-news_item:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.hot-news_item:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: -1;
}
.hot-news_item:nth-child(8) {
  grid-column-start: 2;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 483px 1fr;
}

.img_dimensions-2,
.img_dimensions-3,
.img_dimensions-4,
.img_dimensions-5,
.img_dimensions-6,
.img_dimensions-7 {
  width: 100%;
}
.hot-news_item--text {
  padding: 10px;
  text-align: right;
}
.hot-news_item:nth-child(2)>div,
.hot-news_item:nth-child(7)>div {
  text-align: center;
}
.hot-news_item:nth-child(1)>div,
.hot-news_item:nth-child(8)>div {
  margin-top: 40px;
}
.hot-news_item--text-title {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
}
.hot-news_item--text-description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
  margin-top: 8px;
}
/* hot-news */
/* footer */
.footer {
  background: #000000;
  margin-top: 77px;
}
.footer_content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.footer_content--copyright {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
  padding: 30px 0;
}
.footer_content--logo {
  display: grid;
  grid-auto-flow: column;
}
.footer_content--logo-img {
  align-self: center;
}
.footer_content--logo-img-text {
  align-self: center;
  position: relative;
  top: -4px;
}
/* footer */