body {
    margin: 0;
}
/*header*/
.head {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    max-height: 78px;
    height: 100%;
}
.head_nav {
    text-align: center;
    margin-top: 25px;
}
.head_nav--list {
    list-style-type: none;
    margin: 0;
}
.head_nav--item {
    display: inline-block;
    margin-right: 72px;
}
.head_nav--item_link {
    text-decoration: none;
    color: #FF0000;
    text-transform: uppercase;
}
.head_nav--item_link:hover {
    border-bottom: 1px solid #FF0000;
    color:#FF0ff2;
}
/*header*/
/*main*/
.main {
    margin-top: 25px;
}
.main_img {
    background-image: url('../img/image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 789px;
}
.main_content {
    margin: 48px 68px 0 68px;
    margin-top: 48px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
    font-family: Montserrat;
}
.main_content--heading {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.main_content--description {
    margin-bottom: 28px;
}
.main_footer {
    text-align: center;
    margin-top: 66px;
}
.main_footer--button {
    text-transform: uppercase;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    border: none;
    outline: none;
    padding: 18px 44px;
    background: #FF0000;
    border-radius: 4px;
    color: #fff;
    box-sizing: border-box;
}
.main_footer--button:hover {
    background: #e06262;
}
/*main*/
/*footer*/
.footer {
   width: 90%;
   margin: 0 auto;
   padding: 0 100px;
   box-sizing: border-box;
}

.footer_copyright--text {
    /* float: right; */
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    line-height: 20px;
}
/*footer*/