body {
    margin: 0;
}
.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
/*header*/
.header {
    font-family: 'Roboto', sans-serif;
}
.header_logo {
    font-size: 80px;
    line-height: 94px;
    margin: 61px 0 0 0;
}
.header_logo-link {
    text-decoration: none;
    color: #000;
}
/* спросить у Сергея */
.header_logo-link:hover,
.header_logo--bluetext:hover {
    color:red;
    border-bottom: 1px solid blue;
}
.header_logo--bluetext {
    color: rgb(82, 82, 228);
}

.header_nav {
    background: #35444F;
    margin-top: 38px;
}
/* спросить у Сергея */
.header_nav--items:first-child {
    border-left: 1px solid #fff;
}
.header_nav--items {
    border-right: 1px solid #fff;
}


.header_nav--list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.header_nav--items-link {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 26px 38px;
    box-sizing: border-box;
}
.header_nav--items-link:hover {
    background: #222F3A;
}
/*header*/
/* main */
.main {
    margin-top: 50px;
}
.main_flex {
    display: flex;
    justify-content: space-between;
}
.main_aside {
    margin-right: 50px;
    min-width: 344px;
    width: 100%;
}
.main_aside--nav {
    border: 1px solid #000000;
}
.navigation_list {
    list-style-type: none;
}
.main_aside--nav-list {
    padding: 0;
    margin: 0;
}
.navigation_link {
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
}
.main_aside--nav-item-link {
    color: #495863;
    display: block;
    padding: 26px 44px;
    box-sizing: border-box;
}
.main_aside--nav-item-link:hover {
    background: #DBDBDB;
    color: #000;
    padding-left: 55px;
}
.main_content--header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    border: 1px solid #000;
    overflow: hidden;
}
.main_content--header-img {
    height: 320px;
    transition: 1s;
}
.main_content--header-img:hover {
    transform: scale(1.9);
    cursor: pointer;
}
.main_content--description-text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 35px;
}
/* main */
/* footer */
.footer {
    margin: 50px 0;
}
.footer_flex {
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
}
.footer_nav--list{
    display: flex;
}
.footer_nav--item {
    margin-right: 25px;
}
.footer_nav--item-link {
color: #0C1927;
}
.footer_nav--item-link:hover {
    border-bottom: 1px solid #1f6299;
    color: #1f6299;
}
.footer_copyright {
font-size: 24px;
line-height: 24px;
margin: 17px 40px 0 0;
}
/* footer */
