.image-to-show {
  position: absolute;
  width: 400px;
  height: 400px;
}
.image-to-show.hidden {
  position: absolute;
  visibility: hidden;
  width: 400px;
  height: 400px;
}

.images-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}