.is-hidden {
  display: none;
}

.button-close {
  font-size: 30px;
  color: #0d033d;
  position: absolute;
  top: -10px;
  right: -5px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  transition: .4s linear;
}

.button-close:hover {
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999
}

.modal {
  display: block;
  padding: 40px;
  width: 80vh;
  max-height: calc(100% - 150px);
  position: relative;
  min-height: 300px;
  margin: 5% auto 0;
  background: #b1c8ff;
  z-index: 9999;
}
//.login-wrapper{
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: space-around;
//  align-content: center;
//}
//.card-content {
//  width: 100px;
//  height: 100px;
//  background-color: firebrick;
//  display: inline-block;
//  margin: 10px;
//}
