.main {
    background-image: url(../img/bgimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid transparent;
    font-family: 'Ubuntu', sans-serif;
}
.main_head {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.main_head--logo {
    margin-top: 22px;
    text-transform: uppercase;
    margin-left: 79px;
}
.main_head--logo-link {
    color: #fff;
    text-decoration: none;
}
.main_head--logo-link:hover {
    color: #01813F;
}
.main_head--navbar {
    display: flex;
    margin-top: 18px;
    margin-right: 79px;
}
.main_head--navbar-logsign--linklog,
.main_head--navbar-logsign--linksign {
    color: #fff;
    text-decoration: none;
}
.main_head--navbar-logsign--linklog:hover,
.main_head--navbar-logsign--linksign:hover {
    color: #01813F;
}
.main_head--navbar-calendar {
    margin-right: 25px;
}
.main_head--navbar-message {
    margin-right: 25px;
}
.main_head--navbar-compass {
    margin-right: 25px;
}
.main_head--navbar-line {
    border-left: 1px solid #fff;
    height: 16px;
    margin: 4px 25px 0 0;
}
.main_head--navbar-logsign {
    margin-top: 4px;
}
.main_head--navbar-calendar:hover,
.main_head--navbar-message:hover,
.main_head--navbar-compass:hover {
    cursor: pointer;
}
.main_head--navbar-calendar:hover  .main_head--navbar-calendar-path,
.main_head--navbar-message:hover .main_head--navbar-message-path,
.main_head--navbar-compass:hover .main_head--navbar-compass-path {
    fill: #01813F;
}










.main_form {
    width: 444px;
    height: 622px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: 112px auto 74px;
    padding-top: 31px;
    box-sizing: border-box;
    position: relative;
}
.wrapper_form {
    max-width: 324px;
    width: 100%;
    margin: 0 auto;
}
.main_form--register {
    display: flex;
    justify-content: space-between;
}
.main_form--register-singup {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    text-transform: capitalize;
}
.main_form--register-singup::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 31px;
    left: 0px;
}
.main_form--register-login {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-top: 5px;
    text-transform: capitalize;
    text-decoration: none;
}
.main_form--register-login:hover {
    text-decoration: underline;
    color: #01813F;
}
.main_form--social {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.btn-social {
    width: 157px;
    height: 46px;
    border-radius: 3px;
    padding: 13px 10px;
    padding-right: 23px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.main_form--social-facebook {
    background: #305DB8;
}
.main_form--social-facebook:hover {
    background: #022263;
    cursor: pointer;
}
.main_form--social-google {
    background: #DF4A32;
}
.main_form--social-google:hover {
    background: #AB1F09;
    cursor: pointer;
}
.main_form--social-facebook-text {
    text-transform: capitalize;
}
.main_form--social-google-text {
    text-transform: capitalize;
}
.main_delimiter {
    margin-top: 31px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    position: relative;
    z-index: 1;
}
.main_delimiter::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #a7a1a1;
    position: absolute;
    top: 8px;
    left: 0;
    z-index: -1;
}
.main_delimiter--text {
    background-color: #fff;
    padding: 5px;
}
.main_form--input {
    margin-top: 11px;
}
.input-elements {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding: 16px 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
::-webkit-input-placeholder {
    color: #BEBEBE; 
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}
.input-elements:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
#check {
    cursor: pointer;
}
.main_form--check-label {
    margin-left: 8px;
    cursor: pointer;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.main_form--check-label--link {
    color: #3CB878;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label 
{
    display: inline-block;
    position: relative;
    padding-left: 24px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before 
{
    content: "";
    position: absolute;
    left: -8px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: -4px;
    top: 4px;
    width: 12px;
    height: 6px;
    border-radius: 1px;
    border-left: 3px solid #3CB878;
    border-bottom: 3px solid #3CB878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after{
    opacity: 1;
}
input[type="checkbox"]:checked + .main_form--check-label>span {
    border-bottom: solid;
}
.main_form--input-btn {
    margin-top: 20px;
    background-color:rgba(60, 184, 120, 0.8);
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.main_form--input-btn:hover {
    cursor: pointer;
    background-color: #01813F;
}